html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    border-radius: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

twitter-widget {
    position: absolute !important;
    box-shadow: 0 .3vh 4vh rgba(29, 29, 29, .3);
    border-radius: 3vh;
    overflow: hidden;
    width: 500px !important;
    max-width: 90% !important;
    border: none;
    display: none !important;
    min-height: 5vh;
}

/* Only box-shadow for first few elements */
twitter-widget:nth-first-child(-n+5) {
    /*display: inline-block;*/
    /* filter: drop-shadow is very laggy on mobile */
    box-shadow: 0 .3vh 4vh hsla(0, 0%, 10%, .1);
}

/* Slightly rotate every few other elements */
/* TODO: Fix this because currently the visible element is always the first/odd one */
twitter-widget:nth-child(odd) {
    transform: rotate(-2deg);
}

twitter-widget:nth-child(3n) {
    transform: rotate(1deg);
}


/* "Stamp" markers for feeback, when animating a card out */
twitter-widget.bounceOutRight::after,
twitter-widget.bounceOutLeft::after {
    width: 20vh;
    height: 20vh;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10vh;
    margin-top: -10vh;
    background-image: url('../images/checkmark-color.svg?v=1');
    background-size: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid hsla(201, 100%, 39%, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff, inset 0 0 0 5px #fff;
}

twitter-widget.bounceOutLeft::after {
    background-image: url('../images/close-color.svg?v=1');
    border-color: hsla(2, 81%, 55%, 1);
}


/* Actions */

.actions {
    height: 20vh;
    position: absolute;
    bottom: 5vh;
}

.sweep,
.keep {
    display: none;
    width: 20vh;
    height: 20vh;
    padding: 0;
    padding-top: 8vh;
    color: hsla(0, 0%, 100%, 1);
    font-size: 5vh;
    font-weight: bold;
    background-size: 10vh;
    background-position: center 2vh;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0 1vh 2vh hsla(0, 0%, 40%, 0.5));
    cursor: pointer;
    transition: all .03s ease-in-out;
    /* TODO: Find out why this does not remove the outlines */
    outline: none !important;
}

.sweep {
    background-color: hsla(2, 81%, 55%, 1);
    border-color: hsla(2, 81%, 55%, 1);
    box-shadow: 0 1vh 0 hsla(2, 81%, 36%, 1);
    background-image: url('../images/close-white.svg?v=1');
}

.keep {
    background-color: hsla(201, 100%, 39%, 1);
    border-color: hsla(201, 100%, 39%, 1);
    box-shadow: 0 1vh 0 hsla(201, 100%, 25%, 1);
    margin-left: 5vh;
    background-image: url('../images/checkmark-white.svg?v=1');
}

.sweep:hover,
.sweep:focus,
.keep:hover,
.keep:focus {
    filter: drop-shadow(0 1vh 2vh hsla(0, 0%, 40%, 0.5));
    text-shadow: 0 0 1vh hsla(0, 0%, 100%, 0.5);
}

.sweep:active,
.keep:active {
    box-shadow: 0 .5vh 0 hsla(2, 81%, 36%, 1);
    /* Needs to be !important to overwrite animate.css rule */
    transform: translate(0, .5vh) !important;
    filter: drop-shadow(0 1vh 1vh hsla(0, 0%, 40%, 0.5));
}
.keep:active {
    box-shadow: 0 .5vh 0 hsla(201, 100%, 25%, 1);
}

/* Don’t show action buttons anymore when there are no cards left */
.cards:empty ~ .actions {
    display: none;
}


/* If the stack is all done */
.card-empty {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



/* Log out button on the bottom */
.btn-logout {
    position: absolute;
    bottom: 0;
    opacity: .3;
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
    opacity: .8;
}



/* On desktop, buttons are to the side */
@media only screen and (min-width: 1100px) {
    .container {
        align-items: center;
    }

    .cards {
        height: 100vh;
    }

    twitter-widget {
        z-index: 10;
    }

    .actions {
        position: initial;
    }

    .sweep {
        position: absolute;
        left: 10vh;
    }

    .keep {
        position: absolute;
        right: 10vh;
    }
}



/* CSS loading spinner */

.loading {
	position: initial;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 16px;
    min-height: 16px;
}

.loading:after {
	z-index: 2;
	content: '';
	height: 32px;
	width: 32px;
	margin: -17px 0 0 -17px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	-webkit-animation: rotate .8s infinite linear;
	animation: rotate .8s infinite linear;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

.loading:after {
	border: 2px solid rgba(150, 150, 150, 0.5);
	border-top-color: #646464;
}

@-webkit-keyframes rotate {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
	}
	to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	}
}
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
