{% extends "base.html" %}

{% block content %}

{% if user.status %}
<div class="cards loading"></div>
{% endif %}
<div class="card-empty">
    <h2>🐦🔀🗑️<br>You swept <span class="sweep-counter">0</span> Tweets!</h2>
    <p>Refresh to keep or sweep again!</p>
    <p>
        <a class="btn btn-danger logout" href="/clearsessions.php"><img src="images/twitter.svg" alt="" /> Log out</a>
        <a class="btn btn-primary" href="/app.php"><img src="images/refresh.svg" alt="" /> Refresh!</a>
    </p>
</div>

<div class="actions">
    <button class="sweep">
        Sweep
        <div class="sweep-counter"></div>
    </button>
    <button class="keep">Keep</button>
</div>

<div class="controls">
    <a class="btn btn-light btn-logout logout" href="/clearsessions.php">Log out</a>
</div>

<div class="audio">
    <audio class="whoosh1" src="audio/whoosh1.wav" preload="auto"></audio>
    <audio class="whoosh2" src="audio/whoosh2.wav" preload="auto"></audio>
    <audio class="whoosh3" src="audio/whoosh3.wav" preload="auto"></audio>
    <audio class="whoosh4" src="audio/whoosh4.wav" preload="auto"></audio>
    <audio class="whoosh5" src="audio/whoosh5.wav" preload="auto"></audio>
    <audio class="whoosh6" src="audio/whoosh6.wav" preload="auto"></audio>
    <audio class="whoosh7" src="audio/whoosh7.wav" preload="auto"></audio>
    <audio class="whoosh8" src="audio/whoosh8.wav" preload="auto"></audio>
    <audio class="whoosh9" src="audio/whoosh9.wav" preload="auto"></audio>
    <audio class="whoosh10" src="audio/whoosh10.wav" preload="auto"></audio>
    <audio class="whoosh11" src="audio/whoosh11.wav" preload="auto"></audio>
    <audio class="whoosh12" src="audio/whoosh12.wav" preload="auto"></audio>
    <audio class="whoosh13" src="audio/whoosh13.wav" preload="auto"></audio>
    <audio class="whoosh14" src="audio/whoosh14.wav" preload="auto"></audio>
</div>

<script src="vendor/jquery-3.3.1.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/lodash.min.js"></script>
<script src="js/script.js"></script>
{% endblock %}
