{% extends "base.html" %}

{% block content %}

<div class="cards-staging">
    {% for id_str in tweets %}
    <div data-tweet-id="{{ id_str }}"></div>
    {% endfor %}
</div>

{% if user.status %}
<div class="cards loading"></div>
{% endif %}
<div class="card-empty">
    <h2>🐦🔀🗑️<br>All done!</h2>
    <p>Refresh to keep or sweep again!</p>
    <p>
        <a class="btn btn-danger" href="/clearsessions.php"><img src="images/twitter.svg" alt="" /> Log out</a>
        <a class="btn btn-primary" href="/app.php"><img src="images/refresh.svg" alt="" /> Refresh!</a>
    </p>
</div>

<div class="actions">
    <button class="sweep">Sweep</button>
    <button class="keep">Keep</button>
</div>

<a class="btn btn-light btn-logout" href="/clearsessions.php">Log out</a>

<script src="vendor/jquery-3.3.1.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="js/script.js"></script>
{% endblock %}
